.textContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 2px solid white;
}
.textContainerOuter {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
}